## Settings file was created by plugin LCVR v1.1.6
## Plugin GUID: io.daxcess.lcvr

[General]

## Disables the main functionality of this mod, can be used if you want to play without VR while keeping the mod installed.
# Setting type: Boolean
# Default value: false
DisableVR = false

## Whether the VR intro screen has been displayed before. This configuration option should be set automatically.
# Setting type: Boolean
# Default value: false
IntroScreenSeen = true

[Input]

## Specify which turning provider your player uses, if any.
# Setting type: TurnProviderOption
# Default value: Snap
# Acceptable values: Snap, Smooth, Disabled
TurnProvider = Snap

## A multiplier that is added to the smooth turning speed. Requires turn provider to be set to smooth.
# Setting type: Single
# Default value: 1
SmoothTurnSpeedModifier = 1

## The amount of rotation that is applied when performing a snap turn. Requires turn provider to be set to snap.
# Setting type: Single
# Default value: 45
SnapTurnSize = 45

## Specifies how fast the camera should pivot around a spectated player.
# Setting type: Single
# Default value: 2
SpectateCameraSpeedModifier = 2

## Whether the sprint button should toggle sprint instead of having to hold it down.
# Setting type: Boolean
# Default value: false
ToggleSprint = false

## The amount of seconds that you need to stand still for sprint to be toggled off automatically. Requires sprint toggle to be enabled.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 60
MovementSprintToggleCooldown = 1

## Specify the name of a controler profile you would like to use. Keep empty to use the built-in controller profiles. You can find a list of available controller profiles on https://github.com/DaXcess/LCVR-Controller-Profiles. To test a local profile, specify a path using the file protocol (e.g. file:///C:/Users/.../profile.inputactions)
# Setting type: String
# Default value: 
ControllerBindingsOverrideProfile = 

[Internal]

## FOR INTERNAL USE ONLY, DO NOT EDIT
# Setting type: String
# Default value: 
LastInternalControllerProfile = default

[Performance]

## Whether or not dynamic resolution should be enabled. Required for most of these settings to have an effect.
# Setting type: Boolean
# Default value: false
EnableDynamicResolution = false

## The filter/algorithm that will be used to perform dynamic resolution upscaling. Defaulted to FSR (Edge Adaptive Scaling).
# Setting type: DynamicResUpscaleFilter
# Default value: EdgeAdaptiveScalingUpres
# Acceptable values: Bilinear, CatmullRom, Lanczos, ContrastAdaptiveSharpen, EdgeAdaptiveScalingUpres, TAAU
DynamicResolutionUpscaleFilter = EdgeAdaptiveScalingUpres

## The percentage of resolution to scale the game down to. The lower the value, the harder the upscale filter has to work which will result in quality loss.
# Setting type: Single
# Default value: 80
# Acceptable value range: From 0 to 100
DynamicResolutionPercentage = 80

## Enable DLSS support for the game. Required dynamic resolution to be enabled. DLSS will override the upscale filter used.
# Setting type: Boolean
# Default value: false
EnableDLSS = false

## This setting configures the resolution scale of the game, lower values are more performant, but will make the game look worse. From around 0.8 the difference is negligible (on a Quest 2, with dynamic resolution disabled).
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.05 to 1
CameraResolution = 0.75

## Whether the camera resolution scale applies to all cameras. If disabled, it is only applied on the in-game FPV camera.
# Setting type: Boolean
# Default value: false
CameraResolutionGlobal = false

## Disables volumetrics in the game, which significantly improves performance, but removes all fog and may be considered cheating.
# Setting type: Boolean
# Default value: false
DisableVolumetrics = false

[Rendering]

## Adds a second camera mounted on top of the VR camera that will render seperately from the VR camera to the monitor. This requires quite a bit of extra GPU power!
# Setting type: Boolean
# Default value: false
EnableCustomCamera = false

## The field of view that the custom camera should have.
# Setting type: Single
# Default value: 90
CustomCameraFOV = 90

## The smoothing factor of the custom camera rotation. Higher values mean more static movement, lower values are more smooth.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0.01 to 1
CustomCameraLerpFactor = 0.1

## The LOD bias is a multiplier that dictates when an LOD must reduce their quality. Higher values means that more detailed LODs will persist for longer. Set to -1 to disable updating the LOD bias.
# Setting type: Single
# Default value: 2
LODBias = 2

## Disables the warping effects that you experience when you are under water, use the TZP-inhalant and more.
# Setting type: Boolean
# Default value: false
DisableLensDistortion = false

[Tips]

## Whether or not the user has seen the first time playing tip
# Setting type: Boolean
# Default value: false
FirstTimeTipSeen = true

## Whether or not the user has seen the shovel tip
# Setting type: Boolean
# Default value: false
ShovelTipSeen = false

## Whether or not the user has seen the spray paint tip
# Setting type: Boolean
# Default value: false
SprayPaintTipSeen = false

[UI]

## Removes the HUD from the arms and displays them in front of the camera.
# Setting type: Boolean
# Default value: false
DisableArmHUD = false

## The x offset of the HUD that was placed on the camera instead of the arms. Requires the arm HUD to be disabled.
# Setting type: Single
# Default value: 0
OffsetX = 0

## The y offset of the HUD that was placed on the camera instead of the arms. Requires the arm HUD to be disabled.
# Setting type: Single
# Default value: 0
OffsetY = 0

## Enable a visible ray coming out of the hand that tells you where you are currently aiming at. More or less for debug purposes, but can be used to get a feel for the rotations and such.
# Setting type: Boolean
# Default value: false
EnableInteractRay = false

